@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@600&display=swap");
header {
    height: auto;
    align-items: center;
    top: auto;
    left: auto;
}

h1 {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 243px;
    top: 110px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.sub-subtitle {
    position: absolute;
    width: 117px;
    height: 27px;
    left: 736px;
    top: 110px;
}

.subb-subtitle {
    position: absolute;
    width: 439px;
    height: 87px;
    left: 736px;
    top: 147px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}


/*Bodyyy */

main {
    padding-top: 330px;
    margin: auto;
    width: 1020px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

figure {
    position: relative;
}

figure:nth-of-type(3n-1) {
    margin-top: 3rem;
}

figure img {
    width: 100%;
}

figcaption {
    margin-top: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

figcaption span {
    position: absolute;
    top: 0;
    right: -2rem;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: sideways;
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}


/*FOOOTTEERR*/

footer {
    top: 1448px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a {
  text-decoration: none;
}
.footer-p {
  color: #a9a9a9;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  justify-content: center;
  padding: 24px;
}
.footer-p a {
  color: #333333;
}


/*Mobile*/

@media screen and (max-width:400px) {
    h1 {
        position: absolute;
        width: 278px;
        height: 47px;
        left: 12px;
        top: 71px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
        color: #000000;
    }
    h2 {
        width: 117px;
        height: 27px;
        left: 12px;
        top: 156px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        text-transform: uppercase;
        color: #000000;
    }
    .sub-subtitle {
        position: absolute;
        width: 117px;
        height: 27px;
        left: 12px;
        top: 156px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        text-transform: uppercase;
        color: #000000;
    }
    .subb-subtitle {
        position: absolute;
        width: 333px;
        height: 87px;
        left: 12px;
        top: 193px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    .header-cont {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /*Body*/
    main {
        height: auto;
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    figcaption span {
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        color: #000000;
    }
    figcaption {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
}